[core]
	excludesfile = ~/.gitignore
	editor = nvim
  ignorecase = false
  pager = delta

[difftool]
		prompt = true
[diff]
		tool = nvimdiff
	renames = true
	renamelimit = 5000
[difftool "nvimdiff"]
		cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[push]
  default = simple

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto

[delta]
  navigate = true
  side-by-side = true
  syntax-theme = base16
  minus-style = "syntax #3f0001"
  minus-emph-style = "syntax #780002"
  plus-style = "syntax #002800"
  plus-emph-style = "syntax #006000"
  line-numbers-minus-style = "#d75f5f"
  line-numbers-plus-style = "#87d787"
  file-style = "bold yellow"
  file-decoration-style = "yellow ul"
  hunk-header-style = "file line-number syntax"
  hunk-header-decoration-style = "cyan box"

[hub]
  protocol = https

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = yousefhadder
	email = yousefhadder@github.com
[credential]
	interactive = true
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[alias]
	cf = "!f() { git clone https://github.com/$1/$2; }; f"
	co = "checkout"
	push-empty = !git commit --allow-empty -m \"Empty commit\" && git push
[credential "https://github.com"]
	username = YousefHadder
[credential "https://dev.azure.com"]
	useHttpPath = true
