[core]
	excludesfile = ~/.gitignore
	editor = nvim
  ignorecase = false
  pager = delta

[push]
  default = simple

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto

[delta]
  navigate = true
  side-by-side = true

[hub]
  protocol = https

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = yousefhadder
	email = yousefhadder@github.com
[credential]
	interactive = true
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[alias]
	cf = "!f() { git clone https://github.com/$1/$2; }; f"
